<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Home View</title>
	<link rel="stylesheet" href="/css/base-3555dc65a8.css">
	<link rel="stylesheet" href="/css/index-012a985595.css">
</head>
<body>
	<h1>Home View!!</h1>
	<div id="app">
		<h3>js-cook test</h3>
		<input type="text" v-model="my_cookies" >
		<button @click="cookiesAdd">Cookies Add</button>
		<button @click="cookiesRest">Rest Cookies</button>
	</div>
	<script src="/js/vendor_tools-9c9294468a.js"></script>
	<script src="/js/vendors-95ee68f4d7.js"></script>
	<script src="/js/index-b4de562770.js"></script>
</body>
</html>